<h1 class="ui center aligned header">Colleges</h1>

<div class="ui celled grid">
  <div class="row">
    <div class="three wide column">
      <img>
      </div>
      <div class="thirteen wide column">
    <% @colleges.each do |college| %>
       <p><%= link_to college.name, college_path(college)  %></p><br>
  <%= will_paginate @colleges %>
    <% end %>
      </div>
    </div>
    <div class="row">
    <div class="thirteen wide column">
    <p>Most Active College: <%= College.most_popular_college.name %></p>
    </div>
  </div>
</div>



