<div class="ui large message">
  <div class="container">
   <h1 "ui title-header">Sup, Brah</h1>
   <p>We're Bibliotech. Nice to meet you.</p>
   <p>We're a team of driven individuals who are building a marketplace for recycling old college textbooks.</p>
   <!-- link to individual prof page -->
   <p> Liz, Sammy, Justin & Holly </p>
  </div>
</div>