<div class="ui large message">
  <div class="container">
   <h1 "ui title-header">Sup, Brah</h1>
   <p>We're Bibliotech. Nice to meet you.</p>
   <p>We're a team of driven individuals who are building a marketplace for recycling old college textbooks.</p>
   <!-- link to individual prof page -->
    <div class="ui small images">
    <img class="ui small image" src=../assets/images/holly.png label="Holly Peck">
    <img class="ui small image" src=../assets/images/justin.jpg>
    <img class="ui small image" src=../assets/images/liz.jpg>
    <img class="ui small image" src=../assets/images/sammy.jpg>
  </div>
  </div>
</div>