<div class="ui large message">
  <div class="container">
   <h1 class="ui title-header">Sup, Bruh.</h1>
   <h1 class="ui header">We are Bibliotech. Nice to meet you!</h1>
   <p>We are a team of driven individuals who are building a marketplace for exchanging your college textbooks with friends and like-minded strangers. All exchanges are based on a karma-based system. No need to a credit card. Please feel free to reach out with any query.</p><br>
   <!-- link to individual prof page -->
    <div class="ui four column grid">
      <div class="row">
    <img class="ui fluid image column" src=../assets/images/holly.png></a>
    <img class="ui fluid image column" src=../assets/images/justin.jpg>
    <img class="ui fluid image column" src=../assets/images/liz.jpg>
    <img class="ui fluid image column" src=../assets/images/sammy.jpg>
    </div>
  </div><br>
    <i><p><a href="http://www.holly-peck.com">Holly Peck</a>, <a href="https://github.com/jcurhan">Justin Curhan</a>, <a href="https://github.com/lizkalina">Liz Kalina</a> & <a href="https://github.com/smernick">Sammy Mernick</a></p></i>
  </div>
</div>