<div class="ui middle aligned center aligned grid">
  <div class="column">
  <div class="content"><h1>Welcome to Bibliotech</h1>

<div class="field">
 <%= form_tag(textbooks_path, method: "get",) do %>
  <%= label_tag(:query, "Search for:") %>
  <%= text_field_tag(:query) %>
  <%= submit_tag("Search", class: "search" ) %></button>
    </div>
  <% end %>
  </div>
</div>
