  <% if user_signed_in? %>
    <li> <%= link_to "Hello, #{current_user.first_name}", user_path(current_user) %></li>
    <li id="addpaddingright"><%= link_to "Sign Out", destroy_user_session_path, :method => :delete  %></li>
  <% else %>
    <li><%= link_to "Sign In", new_user_session_path %></li>
  <%end%>
<h1>HOMEPAGE</h1>
