<div class="ui large message">
<h1 class="ui header" id="query">Search Query: <%=params[:query]%></h1>
  <div class="ui row">
    <%= render @textbooks %><br>
    <%= will_paginate @textbooks %>
  </div>
</div>

