<%= @textbook.title %><br>
<%= @textbook.isbn %>

<ul>

<% @textbook.user_books.each do |book| %>
  <li id="<%=book.id%>" class="user_book">
  <%= link_to book.condition, textbook_book_path(@textbook, book) %>
  </li>
<% end %>


<div class="ui modal">
  <i class="close icon"></i>
  <div class="header">
  </div>
  <div class="content">
    <div class="left">

    Book Image
    </div>
    <div class="right">
      <ul>

      </ul>
    </div>
  </div>
  <div class="actions">
    <div class="ui button">
      Back
    </div>
    <div class="ui button">
      Add To Cart
    </div>
  </div>
</div>

</ul>
