<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @user.first_name %></h1>
    <p>
      Thank you for adding to Bibliotech!<br>
    </p>
    <p>
    <!-- add book url -->
      To login to the site, just follow this link.
    </p>
    <p>
    Have a great day!
    </p>
    <p>
    Thanks, 
    </p>
    <p> 
    The Bibliotech Team
    </p>
  </body>
</html>