<div id="cart-item-<%= item.id %>">
  <div class="four wide column">
  <%= link_to image_tag(item.textbook.img_url), textbook_path(item.textbook) %>
  </div>
<div class="twelve wide column">
  <p>Seller: <%=item.seller.first_name %> </p>
  <p>Condition: <%=item.user_book.condition.name%></p>
  </div>
</div>