.pusher {
    background: url(images/landpage.jpg) no-repeat center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}

.ui.middle.aligned{
  padding-top: 10px;
}