.pusher {
    background: url(images/landpage.jpg) center center fixed;
    background-repeat: repeat-y;
    background-size: cover;
    background-attachment: fixed;
    height: 150%;
}

.ui.middle.aligned{
  padding-top: 10px;
}